:root {
    --grey: #a6b9ca;
    --blue: #4f728a;
    --btn-grey: #7a99ac;
    --light: #d8e1e2;
    --screen: #d2dcbb;
    --orange: #ff8103;
    --bg:#fdda00;
    --bg-shade: #fbbc00;
  }
body{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.container{
    flex-grow: 1;
    background-color: var(--bg);
}
footer{
    padding: 1rem;
    color: var(--bg-shade);
    font-weight: bold;
    font-size: larger;
}
.container, footer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.calculator{
    overflow: hidden;
    display: grid;
    grid-template-rows: repeat(5,20%);
    width: 20rem;
    height: 28rem;
    box-shadow: 16px 16px 6px 9px var(--bg-shade);
}
.screen{
    background-color: var(--screen);
    margin:16px;
    box-shadow: 0 0 0px 16px var(--grey);
    display: grid;
    grid-template-rows: 45% 55%;
    grid-template-columns: 1fr;
    overflow: hidden;

}
.screen .top, .screen .down{
    flex-grow: 1;
    padding-right: 1rem;
    overflow: hidden;
    align-self: center;
    justify-self: right;
}

.buttons{
    background-color: var(--light); 
    grid-row: 2 / -1;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);
    width: 20rem;
    box-sizing: border-box;
    gap: 0.6rem;
    padding: 1rem;
}
.buttons div:active {
    box-shadow: 1px 1px var(--blue);
    transform: translateY(1px);
    transform: translateX(1px);
}

.buttons div{
    border-radius: 0.4rem;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.6rem;
    background-color: var(--btn-grey);
}
.zero{
    grid-column: 1 / span 2 ;
}
div.equ {
    grid-row: 4/ span 2;
    grid-column: 4 / 4;
    background-color: var(--orange);
    color: white;
}
div.ac,
div.c,
div.dev,
div.mul,
div.min,
div.plu{
    background-color: var(--blue);
    color: white;
    font-weight: 400;
} 

